In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

from sklearn.linear_model import LinearRegression

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt

#  Import and read the csv.
import pandas as pd 
happiness_df = pd.read_csv("Cleaned_Data/World_Happiness_Report_2021.csv")
happiness_df.head()

,Country,Year,World_Region,Happiness_Score,Economic_Production,Social_Support,Life_Expectancy,Freedom,Generosity,Perceptions_of_Corruption
0,Finland,2021,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,2021,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,2021,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,2021,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,2021,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [2]:
# Split our preprocessed data into our features and target arrays
y = happiness_df["Happiness_Score"] # y = dependent = ladder score
X = happiness_df.drop(["Happiness_Score", "Country", "World_Region"],axis=1).values # X = independent = any other variable

# y = dataset.loc["happiness_score"].values
# X = happiness_df.loc.drop(["happiness_score"], axis=1).values

# Split the preprocessed data into a training and testing dataset
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [3]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [4]:
# Introduce regressor
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [5]:
# Create vector of predictions
y_pred = regressor.predict(X_test)

In [6]:
print(f"Prediction: {y_pred}")

Prediction: [6.29562789 6.51270075 5.16896857 5.78904709 6.62533387 7.52699374
 5.56720855 4.37840266 5.41866627 4.28446025 5.47432289 6.79911925
 5.72925565 6.96959689 6.41792369 5.96468453 4.52671607 5.57605751
 6.3960754  5.05952524 5.5847203  4.91113615 6.42794627 3.48094202
 5.69282126 4.14655167 4.7569325  4.1527198  5.75088867 6.37820559]

In [7]:
# backward elimination
import statsmodels.formula.api as sm

In [17]:
# Add a column of ones in our matrix of features
# X = np.append(arr = np.ones((50, 1)).astype(int), values = X, axis = 1)
# np.column_stack((X,y))
regressor_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred})
regressor_diff

     Actual value  Predicted value
73          5.536         6.295628
18          6.951         6.512701
117         4.721         5.168969
78          5.411         5.789047
76          5.477         6.625334
31          6.377         7.526994
64          5.766         5.567209
140         3.658         4.378403
68          5.716         5.418666
82          5.342         4.284460
109         4.875         5.474323
12          7.155         6.799119
36          6.309         5.729256
9           7.268         6.969597
19          6.834         6.417924
56          5.929         5.964685
136         4.073         4.526716
69          5.677         5.576058
55          5.940         6.396075
131         4.283         5.059525
29          6.435         5.584720
123         4.574         4.911136
26          6.491         6.427946
127         4.355         3.480942
128         4.325         5.692821
144         3.512         4.146552
110         4.854         4.756932
101         4.984         4.152720
45          6.140         5.750889
30          6.431         6.378206

In [12]:
#Model Evaluation
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred)
meanSqErr = metrics.mean_squared_error(y_test, y_pred)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print('R squared: {:.2f}'.format(regressor.score(X, y) * 100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 75.33
Mean Absolute Error: 0.5388621020890885
Mean Square Error: 0.4121478648156673
Root Mean Square Error: 0.6419874335340742